<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @turb.name %>
</p>

<p>
  <strong>Pmin:</strong>
  <%= @turb.Pmin %>
</p>

<%= link_to 'Edit', edit_turb_path(@turb) %> |
<%= link_to 'Back', turbs_path %>
