<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gen.name %>
</p>

<p>
  <strong>Pf:</strong>
  <%= @gen.PF %>
</p>

<p>
  <strong>Sn:</strong>
  <%= @gen.SN %>
</p>

<p>
  <strong>Un:</strong>
  <%= @gen.UN %>
</p>

<p>
  <strong>If0:</strong>
  <%= @gen.If0 %>
</p>

<p>
  <strong>Uf0:</strong>
  <%= @gen.Uf0 %>
</p>

<p>
  <strong>Ifn:</strong>
  <%= @gen.Ifn %>
</p>

<p>
  <strong>Ufn:</strong>
  <%= @gen.Ufn %>
</p>

<p>
  <strong>Xd:</strong>
  <%= @gen.Xd %>
</p>

<p>
  <strong>Xq:</strong>
  <%= @gen.Xq %>
</p>

<p>
  <strong>Ra:</strong>
  <%= @gen.ra %>
</p>

<p>
  <strong>Pferro:</strong>
  <%= @gen.Pferro %>
</p>

<p>
  <strong>Pmec:</strong>
  <%= @gen.Pmec %>
</p>

<p>
  <strong>Psup:</strong>
  <%= @gen.Psup %>
</p>

<p>
  <strong>Pven:</strong>
  <%= @gen.Pven %>
</p>

<p>
  <strong>K exm:</strong>
  <%= @gen.k_exm %>
</p>

<p>
  <strong>K prl:</strong>
  <%= @gen.k_prl %>
</p>

<%= link_to 'Edit', edit_gen_path(@gen) %> |
<%= link_to 'Back', gens_path %>
