<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trafo.name %>
</p>

<p>
  <strong>Sn:</strong>
  <%= @trafo.Sn %>
</p>

<p>
  <strong>U1n:</strong>
  <%= @trafo.U1N %>
</p>

<p>
  <strong>U2n:</strong>
  <%= @trafo.U2N %>
</p>

<p>
  <strong>Rt:</strong>
  <%= @trafo.rT %>
</p>

<p>
  <strong>Zt:</strong>
  <%= @trafo.ZT %>
</p>

<p>
  <strong>Pferro:</strong>
  <%= @trafo.Pferro %>
</p>

<p>
  <strong>Pcu:</strong>
  <%= @trafo.Pcu %>
</p>

<%= link_to 'Edit', edit_trafo_path(@trafo) %> |
<%= link_to 'Back', trafos_path %>
